@*@model Project3_CookingRecipe.Models.CookingRecipe*@
@model PagedList.IPagedList<Project3_CookingRecipe.Models.CookingRecipe>
@using PagedList.Mvc;

@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewBag.Title = "Recipe";
    int rowNo = 0;
}

<p>
    <button type="button" class="btn-create" onclick="location.href='@Url.Action("Create", "CookingRecipes")'">
        <img src='@Url.Content("~/Content/Admin/assets/images/icon/add.png")' height="27" alt="Create New" title="Create New" />
        Create New
    </button>
    @*@Html.ActionLink("Create New", "Create")*@
    @*<a href='@Url.Action("Create", "CookingRecipes")'>
            <img src='@Url.Content("~/Content/Admin/assets/images/icon/add.png")' height="27" />
            Create New
        </a>*@
</p>


<div class="mt-5">
    <div id="datatable-buttons_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="dt-buttons btn-group">
                    <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="datatable-buttons" type="button">
                        <span>Copy</span>
                    </button>
                    <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="datatable-buttons" type="button">
                        <span>PDF</span>
                    </button>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <!-- search -->
                @using (Html.BeginForm("Index", "CookingRecipes", FormMethod.Get))
                {
                    <p>
                        @*Search:*@ @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                        <input type="submit" value="Search" />

                        &nbsp;&nbsp;&nbsp;&nbsp;

                        @using (Html.BeginForm("Index", "CookingRecipes", FormMethod.Get))
                        {
                            <span>
                                Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" })
                            </span>
                        }

                    </p>
                }
                <!-- kết thúc -->
                <!--<div id="datatable-buttons_filter" class="dataTables_filter">-->
                @*<label>
                        Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="datatable-buttons">
                    </label>*@
                <!--</div>-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <tr>
                        <th> STT </th>
                        <th>
                            @Html.ActionLink("Name Food", "Index", new { sortOrder = ViewBag.NameSortParm, size = ViewBag.currentSize })
                            @*Name Food*@
                        </th>
                        <th>
                            Img
                        </th>
                        @*<th>
                Describe
            </th>
            <th>
                Ingredients
            </th>*@
                        <th>
                            @Html.ActionLink("Date Submit", "Index", new { sortOrder = ViewBag.Date, size = ViewBag.currentSize })
                            @*Date Submit*@
                        </th>
                        @*<th>
                Steps
            </th>*@
                        <th>
                            Name Event
                        </th>
                        <th>
                            @*@Html.ActionLink("Full Name", "Index", new { sortOrder = ViewBag.FullName, size = ViewBag.currentSize })*@
                            Full Name
                        </th>
                        <th> Task Manager </th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        if (item.Status == true)
                        {
                            <tr>
                                <td>@(rowNo += 1)</td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NameFood)
                                </td>
                                <td>
                                    <img src="~/UploadedFiles/@item.Img" width="100" />
                                    @*@Html.DisplayFor(modelItem => item.Img)*@
                                </td>
                                @*<td class="three_dot">
                        @Html.DisplayFor(modelItem => item.Describe)
                    </td>
                    <td class="three_dot">
                        @Html.DisplayFor(modelItem => item.Ingredients)
                    </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => item.DateSubmit)
                                </td>
                                <!--<td class="three_dot">
                @Html.Raw(HttpUtility.HtmlDecode(item.Steps))-->
                                @*@Html.DisplayFor(modelItem => item.Steps)*@
                                <!--</td>-->
                                <td>
                                    @Html.DisplayFor(modelItem => item.Event.NameEvent)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.User.FullName)
                                </td>
                                <td>
                                    @*<a href='@Url.Action("Edit", "CookingRecipes", new { id = item.IdRecipe })'>
                                        <img src='@Url.Content("~/Content/Admin/assets/images/icon/edit1.png")' height="25" />
                                    </a>
                                    <a href='@Url.Action("Details", "CookingRecipes", new { id = item.IdRecipe })'>
                                        <img src='@Url.Content("~/Content/Admin/assets/images/icon/detail.png")' height="25" />
                                    </a>
                                    <a href='@Url.Action("Delete", "CookingRecipes", new { id = item.IdRecipe })'>
                                        <img src='@Url.Content("~/Content/Admin/assets/images/icon/delete.png")' height="25" />
                                    </a>*@
                                    @Html.ActionLink("Edit", "Edit", new { id = item.IdRecipe }) |
                                    @Html.ActionLink("Details", "Details", new { id = item.IdRecipe }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.IdRecipe })
                                </td>
                            </tr>
                        }

                    }

                </table>

            </div>
        </div>
        <br />
        <!-- phân trang -->
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

        <!-- Kết thúc -->
    </div>

</div>

